body{
    overflow: hidden;
}
.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cuadro1 {  
    background-color: #fafafa;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 50px white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo {
    width: 24rem;
    height: 24rem;
    background:linear-gradient(#24bcff, #2c5bc0);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brujula{
    display: flex;
    width: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    rotate: 40deg;
    animation: none;
    
}
.brujula:hover{
    animation: ss 1.5s;
}
@keyframes ss {
    30%{
        rotate: 10deg;
    }
    100%{
        rotate: 400deg;
    }
}
.trianulo1 {
    height: 0;
    width: 0rem;
    border-bottom: 8rem solid red;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    
}
.trianulo2 {
    height: 0;
    width: 0rem;
    border-bottom: 8rem solid white;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}
.espacio {
    height: 1rem;
}

.cuadro2 {
    background-color: #c4c4c4;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 50px black;
}

.circulo span{
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: #fff;
    transform:translateY(-160px) rotate(calc(10deg*var(--i)));
    transform-origin: 1px 170px ;
}   
.circulo span::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #fff;
    transform-origin: 1px 150px ;
    transform: rotate(5deg);
}   